.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
}

.button:not(:first-of-type) {
  margin-left: -1px;
}

.active {
  composes: button;
  border-bottom: 1px solid white;
}
